
<div id="background">
    <form (ngSubmit)="login()">
        <div class="brutalist-container">
            <input id="username"
            name="username"
            placeholder="Inserisci username" 
            class="brutalist-input smooth-type" 
            type="text" 
            autocomplete="username"
            [(ngModel)]="log.username" 
            required />
            <label for="username" class="brutalist-label">USERNAME</label>
        </div>
        <div class="brutalist-container">
            <input id="password"
            name="password"
            placeholder="Inserisci password" 
            class="brutalist-input smooth-type" 
            type="password"
            autocomplete="current-password" 
            [(ngModel)]="log.password" 
            required />
            <label for="password" class="brutalist-label">PASSWORD</label>
        </div>
        <button class="Btn">
            Accedi
        </button>
    </form>
</div>