<div id="background">
    <div id="overlay"></div>
    <div id="contenuto">
        <!-- Navbar usando Bootstrap -->
        <nav class="navbar navbar-expand-lg bg-transparent">
            <div class="container-fluid">
                <!-- Titolo a sinistra -->
                <a class="navbar-brand" href="#" id="titolo">MARVELDEX</a>

                <!-- Bottone "Accedi" a destra -->
                <div class="d-flex">
                    <button class="Btn" routerLink="auth/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        Accedi
                    </button>
                </div>
            </div>
        </nav>
        <h1>Vieni a scoprire i tuoi personaggi preferiti.</h1>
        <p>Registrati per sapere tutte le info sui protagonisti della Marvel Cinematic Universe.</p>
        <button class="Btn" routerLink="auth/signup" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            Registrati
        </button>
    </div>
</div>