<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home" id="titolo">MARVELDEX</a>
        <div class="d-flex">
            <button class="Btn" routerLink="/favorites" routerLinkActive="active">
                Preferiti
            </button>
        </div>
    </div>
</nav>
<div class="cards-container">
    <ng-container *ngFor="let character of characters" class="d-flex">
        <div class="d-flex" id="card">
            <div class="brutalist-card">
                <div class="card-image">
                    <img [src]="character.immagine" alt="{{character.alias}}" />
                </div>
                <div class="d-flex" id="cuoreinfo-container">
                    <div class="heart-container me-3 mt-2" title="Like">
                        <input type="checkbox" class="checkbox" id="like" [checked]="isFavorite(character)"
                            (change)="toggleFavorite(character)">
                        <div class="svg-container">
                            <svg viewBox="0 0 24 24" class="svg-outline" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                                </path>
                            </svg>
                            <svg viewBox="0 0 24 24" class="svg-filled" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                                </path>
                            </svg>
                            <svg class="svg-celebrate" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                <polygon points="10,10 20,20"></polygon>
                                <polygon points="10,50 20,50"></polygon>
                                <polygon points="20,80 30,70"></polygon>
                                <polygon points="90,10 80,20"></polygon>
                                <polygon points="90,50 80,50"></polygon>
                                <polygon points="80,80 70,70"></polygon>
                            </svg>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="material-symbols-outlined" id="info" (click)="openModal(character)">
                            info
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<!-- Modale -->
<div id="myModal" class="modal" [ngClass]="{'show': isModalOpen}">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <div class="img-info-container d-flex">
            <div class="img-container">
                <img [src]="selectedCharacter?.immagine" alt="{{selectedCharacter?.alias}}" />
            </div>
            <div class="info-container">
                <h2>{{selectedCharacter?.nome}} {{selectedCharacter?.cognome}}</h2>
                <h3>alias: <b>{{selectedCharacter?.alias}}</b></h3>

                <p><u>Razza</u>: {{selectedCharacter?.razza}}</p>
                <p><u>Arma</u>: {{selectedCharacter?.arma}}</p>
                <p><u>Abilità</u>: {{selectedCharacter?.abilita?.join(', ')}}</p>
                <p><u>Interprete</u>: {{selectedCharacter?.interprete}}</p>
                <p><u>Apparizioni</u>: {{selectedCharacter?.apparizioni?.join(', ')}}</p>
                
                <p><u>Piccola descrizione</u>: {{selectedCharacter?.descrizione}}</p>
            </div>
        </div>
        <div class="span-container">
            <span *ngIf="isVitaVisible">{{selectedCharacter?.inVita ? 'Vivo' : 'Deceduto'}}</span>
            <button  class="spoiler" (click)="toggleVitaVisibility()">Spoiler</button>
        </div>
    </div>
</div>