/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .cards-container {
    background-color: #b40000; /* Sfondo rosso */
    min-height: 100vh; /* Assicura che il contenitore occupi almeno l'altezza della finestra */
    padding: 20px; /* Aggiungi un po' di padding per la spaziatura */
  }